<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="user05Entities" connectionString="metadata=res://*/EyeSave.csdl|res://*/EyeSave.ssdl|res://*/EyeSave.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.32;initial catalog=user05;user id=user05;password=44084;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>